# Default values for ecommerce-app (development)

replicaCount: 2

image:
  repository: ghcr.io/sergiorbk/ecommerce-app
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

config:
  DB_HOST: postgres
  DB_PORT: "5432"
  DB_NAME: shop

secret:
  DB_USER: postgres
  DB_PASSWORD: postgres

probes:
  liveness:
    path: /health
    initialDelaySeconds: 10
    periodSeconds: 5
  readiness:
    path: /health
    initialDelaySeconds: 5
    periodSeconds: 3
