name: Lab 4 Helm Chart Validation

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  helm-validation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Set up Minikube
        uses: medyagh/setup-minikube@latest

      - name: Run Grading Script
        run: |
          chmod +x ./tests/lab4_test.sh
          ./tests/lab4_test.sh
